*{
margin:0 auto; 
padding:0;

}

.setengah{
	width:70%;
}

.sedikit{
width:20%;
text-align:left;
}


.apa{
width:80%;
background:#fff;
text-align:center;
padding:20px;

}

body{
	background:#eee;
}

.isi-ape-ape{
	font-size:14pt;
	padding:20px;
	height:auto;
	overflow:hidden;
}
.isi-ape-ape ol{
	padding-left:20px;
}
